* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.banner {
	width: 100%;
	height: 100vh;
	background: url("../images/bg9.jpg") no-repeat center fixed;
	background-size: cover;
	background-position: center;
}

.navbar {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo {
	width: 120px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.footer {
	position:absolute;
   bottom:0;
   width:100%;
   height:60px;   
}

#createCourse {
position: absolute;
	top: 40%;
	left: 30%;
	width: 450px;
	padding: 20px 30px;
	background: #fff;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
	border-radius: 15px;
}
