* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.banner {
	width: 100%;
	height: 200vh;
	background-image: url("../images/bg9.jpg");
	background-size: cover;
	background-position: center;
}

.navbar {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo {
	width: 120px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
#page-container {
  position: relative;
  min-height: 100vh;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 2.5rem;*/  
  background-color: black;          
}