* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}


.nav-index {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 3rem 10rem;
}

.mainBg {
  height: 100vh;
}
.mainBg img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}

.mainLogo {
  position: absolute;
  top:-110%;
  left:-1%;
}

.main-title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
}

.content {
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  margin-left: 20vh;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}

.nav-index {
  top: 50%;
  left: 28%;
}

section .nav-index ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

section .nav-index ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
