* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: linear-gradient(to right, #232526, #414345);
	height: 100vh;
} 

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login button {
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 600;
	color: #222;
	background: #f5f5f5;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}

.popup {
	position: absolute;
	top: -150%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1.25);
	width: 380px;
	padding: 20px 30px;
	background: #fff;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
	border-radius: 10px;
	transition: top 0ms ease-in-out 200ms,
				opacity 200ms ease-in-out 0ms,
				transform 20ms ease-in-out 200ms;
}

.popup.active {
	top: 50%; 
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition: top 0ms ease-in-out 0ms,
				opacity 200ms ease-in-out 0ms,
				transform 20ms ease-in-out 200ms;
}

.popup .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	background: #888;
	color: #eee;
	text-align: center;
	line-height: 15px;
	border-radius: 15px;
	cursor: pointer;
}

.popup .form h2 {
	text-align: center;
	color:#222;
	margin: 10px 0px 20px;
	font-size: 25px;
}

.popup .form .form-element {
	margin: 15px 0px;
}

.popup .form .form-element label {
	font-size: 14px;
	color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
	margin-right: 5px;
}

.popup .form .form-element button {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	font-size: 15px;
	background: #222;
	color: #f5f5f5;
	border-radius: 10px;
	cursor: pointer;
}

.popup .form .form-element a{
	display: block;
	text-align: right;
	font-size: 15px;
	color: #1a79ca;
	text-decoration: none;
	font-weight: 600;
}

.flip-card {
	background-color: transparent;
  	width: 300px;
  	height: 200px;
  	border: 1px solid #f1f1f1;
  	perspective: 1000px;  	 
}

.flip-card-inner {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 text-align: center;
	 transition: transform 0.8s;
	 transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
 	 transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #232526;
  color: white;
  transform: rotateY(180deg);
}

.card1 {
	position: absolute;
	top: 22%;
	left: 15%;
	transform: translate(-15%, -22%);
}

.image-card1 {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}

.card2 {
	position: absolute;
	top: 82%;
	left: 15%;
	transform: translate(-15%, -82%);
}

.image-card2 {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}