* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: linear-gradient(to right, #232526, #414345);
	height: 100vh;
} 

#mydiv {
  position: absolute;
  z-index: 9;
}

#mydivheader {
  cursor: move;
  z-index: 10;
}

#mydiv1 {
  position: absolute;
  z-index: 9;
}

#mydivheader2 {
  cursor: move;
  z-index: 10;
}

.mainLogo {
	width: 100%;
}

.signup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signup button {
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 600;
	color: #222;
	background: #f5f5f5;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
}

.popup {
	position: absolute;
	top: -150%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1.25);
	width: 380px;
	padding: 20px 30px;
	background: #fff;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
	border-radius: 10px;
	transition: top 0ms ease-in-out 200ms,
				opacity 200ms ease-in-out 0ms,
				transform 20ms ease-in-out 200ms;
}

.popup.active {
	top: 50%; 
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition: top 0ms ease-in-out 0ms,
				opacity 200ms ease-in-out 0ms,
				transform 20ms ease-in-out 200ms;
}

.popup .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	background: #888;
	color: #eee;
	text-align: center;
	line-height: 15px;
	border-radius: 15px;
	cursor: pointer;
}

.popup .form h2 {
	text-align: center;
	color:#222;
	margin: 10px 0px 20px;
	font-size: 25px;
}

.popup .form .form-element {
	margin: 15px 0px;
}

.popup .form .form-element label {
	font-size: 15px;
	color: #222;
}

.popup .form .form-element #firstName,
.popup .form .form-element #lastName,
.popup .form .form-element #userEmail,
.popup .form .form-element #mobileNumber,
.popup .form .form-element #password1,
.popup .form .form-element #password2 {
	margin-top: 1px;
	display: block;
	width: 100%;
	padding: 1px;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 1px;
	font-size: 12px;
}


.popup .form .form-element button {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	font-size: 15px;
	background: #222;
	color: #f5f5f5;
	border-radius: 10px;
	cursor: pointer;
}

.popup .form .form-element a{
	display: block;
	text-align: right;
	font-size: 15px;
	color: #1a79ca;
	text-decoration: none;
	font-weight: 600;
}

.passwordText {
	font-size: 10px;
}


/*Profile card 1*/
/*.profile-card-1 {
	position: absolute;
	top: -20%;
	right: -10%;
	transform: translate(10%, 20%);
}

.profile-card-1 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-1 .card-body{
    position:relative;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-1 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-1 .card-text{
    font-weight:300;
    font-size:15px;
}

*/